<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./../../WEB-INF/templates/publicTemplate2.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	<ui:define name="title">
        Banker Home Page
    </ui:define>


	<ui:define name="content">
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
			<h1>Alert!</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#">Examples</a></li>
				<li class="active">Blank page</li>
			</ol>
			</section>

			<!-- Main content -->
			<section class="content"> <!-- Default box -->
			<div class="box">
				<div class="box-header"></div>
				<div class="box-body">
					<div class="row">
						<!-- left column -->
						<div class="col-md-6">
							<!-- general form elements -->

							<div class="alert alert-danger alert-dismissible">
								<button type="button" class="close" data-dismiss="alert"
									aria-hidden="true">&times;</button>
								<h4>
									<i class="icon fa fa-ban"></i> Loan Applicaiton Not Found!
								</h4>
								Loan application not found. Kindly verify loan application id and try again.
							</div>

							<!-- /.box -->
						</div>
						<!-- col-md-6 -->
					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">For any futher enquiry call customer
					support +1 (312)975-9514</div>
				<!-- /.box-footer-->
			</div>
			<!-- /.box --> </section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</ui:define>

</ui:composition>
