<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./../WEB-INF/templates/publicTemplate.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

	<ui:define name="title">
        Secure Login
    </ui:define>

	<ui:define name="css">
		<!-- Font Awesome -->
		<link rel="stylesheet"
			href="#{request.contextPath}/dist/css/AdminLTE.min.css" />
		<!-- Ionicons -->
		<link rel="stylesheet" href="../resources/bootstrap/css/blue.css" />
	</ui:define>

	<ui:define name="content">

		<div class="login-box">
			<div class="login-logo">Secure Login</div>
			<div class="login-box-body">
				<p class="login-box-msg">Sign in to start your session</p>

				<h:form>
					<h:panelGroup
						styleClass="#{j_username.valid ? 'form-group has-feedback' : 'form-group has-error has-feedback'}"
						layout="block">
						<h:inputText placeholder="Enter your username here"
							binding="#{j_username}" class="form-control" id="j_username"
							value="#{loginController.username}" />
						<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
						<h:message for="j_username" style="color:red" />
					</h:panelGroup>
					<h:panelGroup
						styleClass="#{j_password.valid ? 'form-group has-feedback' : 'form-group has-error has-feedback'}"
						layout="block">
						<h:inputSecret placeholder="Enter your password here"
							binding="#{j_password}" class="form-control" id="j_password"
							value="#{loginController.password}" />
						<span class="glyphicon glyphicon-lock form-control-feedback"></span>
						<h:message for="j_password" style="color:red" />
					</h:panelGroup>
					<!-- /.col -->
					<div class="row">
						<div class="col-xs-8">
						</div>
						<h:panelGroup class="col-xs-4">
							<h:commandButton class="btn btn-primary btn-block btn-flat"
								value="Login" action="#{loginController.doLogin()}" />
						</h:panelGroup>
						<!-- /.col -->
					</div>
					<!-- /.row -->


					<div class="social-auth-links text-center">
						<p>- OR -</p>
						<a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i
							class="fa fa-facebook"></i> Sign in using Facebook</a> <a href="#"
							class="btn btn-block btn-social btn-google btn-flat"><i
							class="fa fa-google-plus"></i> Sign in using Google+</a>
					</div>
					<!-- /.social-auth-links -->

					<h:commandLink value="I forgot my password" class="text-center"
						action="#"></h:commandLink><br />
					<h:commandLink value="Register a new membership"
						action="#{loginController.showRegistrationPage()}" class="text-center"/>
				</h:form>
			</div>
		</div>
	</ui:define>
</ui:composition>
