<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./../WEB-INF/templates/publicTemplate.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="title">
        Secure Login
    </ui:define>
	<ui:define name="css">
		<!-- Font Awesome -->
		<link rel="stylesheet"
			href="#{request.contextPath}/dist/css/AdminLTE.min.css" />
		<!-- Ionicons -->
		<link rel="stylesheet" href="../resources/bootstrap/css/blue.css" />
	</ui:define>

	<ui:define name="content">
		<div class="register-box">
			<div class="register-logo">
				<a href="#">Registration Form</a>
			</div>

			<div class="register-box-body">
				<h:form>
					<div>
						<div class="form-top-left">
							<h3>Step 1 / 2</h3>
							<p>Tell us who you are:</p>
						</div>
					</div>
					<div class="form-group has-feedback">
						<h:inputText id="firstName"
							value="#{customerController.customer.firstName}"
							type="text" class="form-control"
							placeholder="Enter Your First Name" />
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
						<h:message for="firstName" style="color:red" />
					</div>
					<div class="form-group has-feedback">
						<h:inputText id="lastName"
							value="#{customerController.customer.lastName}"
							type="text" class="form-control"
							placeholder="Enter Your Last Name" />
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
						<h:message for="lastName" style="color:red" />
					</div>
					<div class="form-group has-feedback">
						<h:inputText id="ssn"
							value="#{customerController.customer.socialSecurityNumber}"
							type="text" class="form-control"
							placeholder="Enter Your SSN" />
						<span class="glyphicon glyphicon-user form-control-feedback"></span>
						<h:message for="ssn" style="color:red" />
					</div>
					<div class="form-group has-feedback">
						<h:inputText
							value="#{customerController.customer.email}"
							type="email" class="form-control"
							placeholder="Enter Your Email Address" />
						<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
					</div>
					<div class="form-group has-feedback">
						<h:inputSecret id="password" type="password" class="form-control"
							placeholder="Password" />
						<span class="glyphicon glyphicon-lock form-control-feedback"></span>
						<h:message for="password" style="color:red" />
					</div>
					<div class="form-group has-feedback">
						<h:inputSecret id="repeat-password" type="password" class="form-control"
							placeholder="Retype password" />
						<span class="glyphicon glyphicon-lock form-control-feedback"></span>
						<h:message for="repeat-password" style="color:red" />
					</div>
					<div class="form-group">
						<div class="input-group date">
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
							<h:inputText id="dateOfBirth" value="#{customerController.customer.dateOfBirth}"
								type="text" class="form-control"
								data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
								<f:convertDateTime pattern="M-d-yyyy" />
							</h:inputText>
							<h:message for="dateOfBirth" style="color:red" />
						</div>
					</div>
					<h:commandButton value="Register" class="btn btn-primary btn-block btn-flat"
						action="#{customerController.registerCustomer()}">
					</h:commandButton>
				</h:form>
				<a href="login.xhtml" class="text-center">I already have a
					membership</a>
			</div>
			<!-- /.form-box -->
		</div>
		<!-- /.register-box -->

	</ui:define>
</ui:composition>
