<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./../../WEB-INF/templates/publicTemplate2.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="title">
       Create Loan Application
    </ui:define>


	<ui:define name="content">

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
			<h1>
				New Loan Application <small>it all starts here</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#">Examples</a></li>
				<li class="active">Blank page</li>
			</ol>
			</section>

			<!-- Main content -->
			<section class="content"> <!-- Default box -->
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Loan Application Details</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool"
							data-widget="collapse" data-toggle="tooltip" title="Collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool"
							data-widget="remove" data-toggle="tooltip" title="Remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<div class="row">
						<!-- left column -->
						<div class="col-md-6">
							<!-- general form elements -->
							<div class="box box-primary">
								<!-- /.box-header -->
								<!-- form start -->
								<h:form role="form">
									<div class="box-body">
										<!-- .box l start -->
										<div class="box box-solid">
											<div class="box-header with-border">
												<h3 class="box-title">Primary Loan Details</h3>
											</div>
											<!-- /.box-header -->
											<div class="box-body">
												<div class="form-group">
													<label for="customerId">Customer ID</label> <h:inputText
														required="true" requiredMessage="Please enter customer id"
														type="text" class="form-control" id="customerId"
														placeholder="Enter Customer Id"
														value="#{loanApplicationController.customer.id}" />
														<h:message for="customerId" style="color:red" />
												</div>
												<div class="form-group">
								                  <label for="loanType">Loan Type</label>
								                  <h:selectOneMenu class="form-control" id="loanType" required="true" requiredMessage="Please select loan type"
								                  		  value="#{loanApplicationController.loanApplication.loanType}" >
								                    <f:selectItem itemValue="HOME_LOAN" itemLabel="Home Loan" />
								                    <f:selectItem itemValue="CAR_LOAN" itemLabel="Car Loan" />
								                    <f:selectItem itemValue="EDUCATION_LOAN" itemLabel="Education Loan" />
								                    <f:selectItem itemValue="USED_CAR_LOAN" itemLabel="Used Car Loan" />
								                  </h:selectOneMenu>
								                  <h:message for="loanType" style="color:red" />
								                </div>
												<div class="form-group">
													<label for="loanAmount">Loan Amount</label> <h:inputText
														required="true" requiredMessage="Please enter loan amount"
														type="text" class="form-control" id="loanAmount"
														placeholder="Enter Loan Amount"
														value="#{loanApplicationController.loanApplication.loanAmount}" />
														<h:message for="loanAmount" style="color:red" />
												</div>
												<div class="form-group">
													<label for="monthlyIncome">Monthly Income</label> <h:inputText
														required="true" requiredMessage="Please enter monthly income"
														type="text" class="form-control" id="monthlyIncome"
														placeholder="Enter social security"
														value="#{loanApplicationController.loanApplication.monthlyIncome}" />
														<h:message for="monthlyIncome" style="color:red" />
												</div>
												<div class="form-group">
													<label for="email">Email</label>
													<div class="input-group">
									                  <div class="input-group-addon">
									                    <i class="fa fa-envelope"></i>
									                  </div>
									                  <h:inputText type="text" class="form-control pull-right" id="email"
									                  required="true" requiredMessage="Please enter email"
									                  value="#{loanApplicationController.loanApplication.email}" />
									                  <h:message for="email" style="color:red" />
									                </div>
												</div>
												<!-- phone mask -->
												<div class="form-group">
									                <label>Phone:</label>

									                <div class="input-group">
									                  <div class="input-group-addon">
									                    <i class="fa fa-phone"></i>
									                  </div>
									                  <h:inputText id="phone" type="text" required="true" requiredMessage="Please enter phone" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask=""
									                  value="#{loanApplicationController.loanApplication.phone}" />
									                  <h:message for="phone" style="color:red" />
								                	</div>
								                </div>
											</div>
											<!-- /.box-body -->
										</div>
										<!-- /.box loan Details ends-->
										<!-- .box collateral start -->
										<div class="box box-solid">
											<div class="box-header with-border">
												<h3 class="box-title">Collateral Details</h3>
											</div>
											<!-- /.box-header -->
											<div class="box-body">
												<div class="form-group">
								                  <label for="collateralType">Collateral Type</label>
								                   <h:selectOneMenu class="form-control"  id="collateralType"
								                  		required="true" requiredMessage="Please select collateral type"   value="#{loanApplicationController.collateral.collateralType}" >
								                    <f:selectItem itemValue="FIXED_DEPOSIT" itemLabel="Fixed Deposit" />
								                    <f:selectItem itemValue="HOUSE" itemLabel="House" />
								                    <f:selectItem itemValue="FLAT" itemLabel="Flat" />
								                    <f:selectItem itemValue="NON_AGRICULTURAL_LAND" itemLabel="Non Agricultural Land" />
								                  </h:selectOneMenu>
								                  <h:message for="collateralType" style="color:red" />
								              	</div>
								              	<div class="form-group">
													<label for="marketValue">Market Value</label> <h:inputText
													required="true" requiredMessage="Please enter market value"
														type="text" class="form-control" id="marketValue"
														placeholder="Enter Market Value of Your Collateral"
														value="#{loanApplicationController.collateral.marketValue}" />
													<h:message for="marketValue" style="color:red" />
												</div>
											</div>
											<!-- /.box-body -->
										</div>
										<!-- /.box collateral ends-->

										<!-- .box co-borrower start -->
										<div class="box box-solid">
											<div class="box-header with-border">

												<h3 class="box-title">Co-Borrower Details</h3>
											</div>
											<!-- /.box-header -->
											<div class="box-body">
												<div class="form-group">
													<label for="firstName">First Name</label> <h:inputText
														required="true" requiredMessage="Please enter co-borrower first name"
														type="text" class="form-control" id="firstName"
														placeholder="Enter Co-Borrower's First Name"
														value="#{loanApplicationController.coBorrower1.firstName}" />
													<h:message for="firstName" style="color:red" />
												</div>
												<div class="form-group">
													<label for="lastName">Last Name</label> <h:inputText
													required="true" requiredMessage="Please enter co-borrower last name"
														type="text" class="form-control" id="lastName"
														placeholder="Enter Co-Borrower's Last Name"
														value="#{loanApplicationController.coBorrower1.lastName}" />
														<h:message for="lastName" style="color:red" />
												</div>
												<div class="form-group">
								                  <label for="employmentType">Employment Type</label>
													<h:selectOneMenu class="form-control"  id="employmentType"
								                  		required="true" requiredMessage="Please select employment type"  value="#{loanApplicationController.coBorrower1.employmentType}" >
								                    <f:selectItem itemValue="SALARIED" itemLabel="Salaried" />
								                    <f:selectItem itemValue="SELF_EMPLOYED_PROFESSIONAL" itemLabel="SelfEmployed" />
								                    <f:selectItem itemValue="SELF_EMPLOYED_BUSINESS" itemLabel="Business" />
								                    <f:selectItem itemValue="RETIRED" itemLabel="Retired" />
								                  </h:selectOneMenu>
								                  <h:message for="employmentType" style="color:red" />
						              			</div>
						              			<div class="form-group">
													<label for="netMonthlyIncome">Monthly Income</label> <h:inputText
														required="true" requiredMessage="Please enter co-borrower monthly income"
														type="text" class="form-control" id="netMonthlyIncome"
														placeholder="Enter Co-Borrower's netMonthlyIncome"
														value="#{loanApplicationController.coBorrower1.netMonthlyIncome}" />
													<h:message for="netMonthlyIncome" style="color:red" />
												</div>
												<div class="form-group">
													<label for="relationship">Relationship</label> <h:inputText
														type="text" class="form-control" id="relationship"
														placeholder="Enter Co-Borrower's relationship with loan applicant"
														value="#{loanApplicationController.coBorrower1.relationship}" />
														<h:message for="relationship" style="color:red" />
												</div>
											</div>
											<!-- /.box-body -->
										</div>
										<!-- /.box co-borrower-->

																<!-- .box co-borrower start -->
										<div class="box box-solid">
											<div class="box-header with-border">

												<h3 class="box-title">Co-Borrower Details</h3>
											</div>
											<!-- /.box-header -->
											<div class="box-body">
												<div class="form-group">
													<label for="firstName1">First Name</label> <h:inputText
														required="true" requiredMessage="Please enter co-borrower first name"
														type="text" class="form-control" id="firstName1"
														placeholder="Enter Co-Borrower's First Name"
														value="#{loanApplicationController.coBorrower2.firstName}" />
														<h:message for="firstName1" style="color:red" />
												</div>
												<div class="form-group">
													<label for="lastName2">Last Name</label> <h:inputText
													required="true" requiredMessage="Please enter co-borrower last name"
														type="text" class="form-control" id="lastName2"
														placeholder="Enter Co-Borrower's Last Name"
														value="#{loanApplicationController.coBorrower2.lastName}" />
														<h:message for="lastName2" style="color:red" />
												</div>
												<div class="form-group">
								                  <label for="employmentType2">Employment Type</label>
													<h:selectOneMenu class="form-control"  id="employmentType2"
													required="true" requiredMessage="Please select employment type"
								                  		  value="#{loanApplicationController.coBorrower2.employmentType}" >
								                    <f:selectItem itemValue="SALARIED" itemLabel="Salaried" />
								                    <f:selectItem itemValue="SELF_EMPLOYED_PROFESSIONAL" itemLabel="SelfEmployed" />
								                    <f:selectItem itemValue="SELF_EMPLOYED_BUSINESS" itemLabel="Business" />
								                    <f:selectItem itemValue="RETIRED" itemLabel="Retired" />
								                  </h:selectOneMenu>
								                  <h:message for="lastName2" style="color:red" />
						              			</div>
						              			<div class="form-group">
													<label for="netMonthlyIncome2">Monthly Income</label> <h:inputText
													required="true" requiredMessage="Please enter co-borrower monthly income"
														type="text" class="form-control" id="netMonthlyIncome2"
														placeholder="Enter Co-Borrower's netMonthlyIncome"
														value="#{loanApplicationController.coBorrower2.netMonthlyIncome}" />
														<h:message for="netMonthlyIncome2" style="color:red" />
												</div>
												<div class="form-group">
													<label for="relationship2">Relationship</label> <h:inputText
														type="text" class="form-control" id="relationship2"
														required="true" requiredMessage="Please enter co-borrower relationship"
														placeholder="Enter Co-Borrower's relationship with loan applicant"
														value="#{loanApplicationController.coBorrower2.relationship}" />
														<h:message for="relationship2" style="color:red" />
												</div>
											</div>
											<!-- /.box-body -->
										</div>
										<!-- /.box co-borrower-->

									</div>
									<!-- /.box-body -->
									<div class="box-footer">
									<h:commandButton class="btn btn-primary"
												value="Submit" action="#{loanApplicationController.submitLoanApplication()}" />

									</div>
								</h:form>
							</div>
							<!-- /.box -->
						</div>
						<!-- col-md-6 -->
					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">Footer</div>
				<!-- /.box-footer-->
			</div>
			<!-- /.box --> </section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<h:outputScript name="plugins/datepicker/bootstrap-datepicker.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/iCheck/icheck.min.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/input-mask/jquery.inputmask.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/input-mask/jquery.inputmask.date.extensions.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/input-mask/jquery.inputmask.extensions.js" target="body"></h:outputScript>


		<h:outputScript target="body">
		$(function () {
			$("[data-mask]").inputmask();
		    //Date picker
		    $('#datepicker').datepicker({
		      autoclose: true
		    });

		    //iCheck for checkbox and radio inputs
		    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
		      checkboxClass: 'icheckbox_minimal-blue',
		      radioClass: 'iradio_minimal-blue'
		    });
		 });
	</h:outputScript>
	</ui:define>

</ui:composition>
