<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./../../WEB-INF/templates/publicTemplate2.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="title">
        Delete Loan Application
    </ui:define>


	<ui:define name="content">

		<div class="content-wrapper">

			<h:outputStylesheet library="plugins/datepicker/" name="datepicker3.css" />
<!-- 			<h:outputStylesheet library="plugins/iCheck/minimal/" name="_all.css" /> -->
			<!-- Content Header (Page header) -->
			<section class="content-header">
			<h1>
				Blank page <small>it all starts here</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#">Examples</a></li>
				<li class="active">Blank page</li>
			</ol>
			</section>

			<!-- Main content -->
			<section class="content"> <!-- Default box -->
			<div class="box">
				<div class="box-header with-border">
						<label>Loan Application ID</label>

			              <div class="input-group input-group-sm col-md-3">
			                <!-- <input type="text" class="form-control"/> -->

			                    <h:form role="form">
			                    	<span class="input-group-btn">
			                    		<h:inputText id="val" binding="#{loanApplicationID}"
			                    					type="text" class="form-control"/>

			                      		<!-- <input type="submit" class="btn btn-info btn-flat">Go!</button> -->
			                    		<h:commandButton class="btn btn-info btn-flat" style="outline:0"
											value="Go!" action="#{loanApplicationController.getLoanApplicationById(loanApplicationID.value)}">
											<f:ajax execute="val" render=":updateForm"></f:ajax>
										</h:commandButton>
			                    	</span>
			                    </h:form>
			              </div>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool"
							data-widget="collapse" data-toggle="tooltip" title="Collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool"
							data-widget="remove" data-toggle="tooltip" title="Remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<div class="row">
						<!-- left column -->
						<div class="col-md-6">
							<!-- general form elements -->
							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">Loan Application Details</h3>
								</div>
								<!-- /.box-header -->
								<!-- form start -->
								<h:form id="updateForm" role="form">
									<div class="box-body">
										<div class="form-group">
						                  <label for="loanType">Loan Type</label>
						                  	<h:selectOneMenu class="form-control disabled" id="loanType"
								                  		  value="#{loanApplicationController.loanApplication.loanType}" >
								                    <f:selectItem itemValue="HOME_LOAN" itemLabel="Home Loan" />
								                    <f:selectItem itemValue="CAR_LOAN" itemLabel="Car Loan" />
								                    <f:selectItem itemValue="EDUCATION_LOAN" itemLabel="Education Loan" />
								                    <f:selectItem itemValue="USED_CAR_LOAN" itemLabel="Used Car Loan" />
								            </h:selectOneMenu>
						                </div>
										<div class="form-group">
											<label for="loanAmount">Loan Amount</label> <h:inputText
												type="text" class="form-control disabled" id="loanAmount"
												placeholder="Enter Loan Amount"
												value="#{loanApplicationController.loanApplication.loanAmount}" />
										</div>
										<div class="form-group">
											<label for="monthlyIncome">Monthly Income</label> <h:inputText
												type="text" class="form-control" id="monthlyIncome"
												placeholder="Enter social security"
												value="#{loanApplicationController.loanApplication.monthlyIncome}" />
										</div>
										<div class="form-group">
											<label for="email">Email</label>
											<div class="input-group">
							                  <div class="input-group-addon">
							                    <i class="fa fa-envelope"></i>
							                  </div>
							                  <h:inputText type="text" class="form-control pull-right disabled" id="email"
							                  value="#{loanApplicationController.loanApplication.email}" />
							                </div>
										</div>
										<!-- phone mask -->
										<div class="form-group">
							                <label>Phone:</label>

							                <div class="input-group">
							                  <div class="input-group-addon">
							                    <i class="fa fa-phone"></i>
							                  </div>
							                  <h:inputText type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask=""
							                  value="#{loanApplicationController.loanApplication.phone}" />
						                	</div>
						                </div>
										<div class="form-group">
						                  <label for="collateralType">Collateral Type</label>
						                  	<h:selectOneMenu class="form-control disabled"  id="collateralType"
								                  		  value="#{loanApplicationController.collateral.collateralType}" >
								                    <f:selectItem itemValue="FIXED_DEPOSIT" itemLabel="Fixed Deposit" />
								                    <f:selectItem itemValue="HOUSE" itemLabel="House" />
								                    <f:selectItem itemValue="FLAT" itemLabel="Flat" />
								                    <f:selectItem itemValue="NON_AGRICULTURAL_LAND" itemLabel="Non Agricultural Land" />
											</h:selectOneMenu>
						              	</div>
						              	<div class="form-group">
											<label for="marketValue">Market Value</label> <h:inputText
												type="text" class="form-control disabled" id="marketValue"
												placeholder="Enter social security"
												value="#{loanApplicationController.loanApplication.collateral.marketValue}" />
										</div>
									</div>
									<!-- /.box-body -->
									<div class="box-footer">
									<h:commandButton class="btn btn-primary"
												value="Delete" action="#{loanApplicationController.deleteLoanApplication()}">

									</h:commandButton>

									</div>
								</h:form>
							</div>
							<!-- /.box -->
						</div>
						<!-- col-md-6 -->
					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">Footer</div>
				<!-- /.box-footer-->
			</div>
			<!-- /.box --> </section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<h:outputScript name="plugins/datepicker/bootstrap-datepicker.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/iCheck/icheck.min.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/input-mask/jquery.inputmask.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/input-mask/jquery.inputmask.date.extensions.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/input-mask/jquery.inputmask.extensions.js" target="body"></h:outputScript>


		<h:outputScript target="body">
		$(function () {
			$("[data-mask]").inputmask();
		    //Date picker
		    $('#datepicker').datepicker({
		      autoclose: true
		    });

		    //iCheck for checkbox and radio inputs
		    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
		      checkboxClass: 'icheckbox_minimal-blue',
		      radioClass: 'iradio_minimal-blue'
		    });
		 });

		 function addCoBorrower() {

		 }
	</h:outputScript>
	</ui:define>

</ui:composition>
