<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./../../WEB-INF/templates/publicTemplate2.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="title">
        Banker Home Page
    </ui:define>


	<ui:define name="content">

		<div class="content-wrapper">

			<h:outputStylesheet library="plugins/datepicker/" name="datepicker3.css" />
			<h:outputStylesheet library="plugins/iCheck/minimal/" name="_all.css" />
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Loan Details <small>it all starts here</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Examples</a></li>
					<li class="active">Blank page</li>
				</ol>
			</section>
			<!-- Main content -->
    <section class="invoice">
    <div class="box">
				<div class="box-header with-border">
					<label>Loan Application ID</label>
					<div class="input-group input-group-sm col-md-3">
						<!-- <input type="text" class="form-control"/> -->

						<h:form role="form">
							<span class="input-group-btn"> <h:inputText id="val"
									binding="#{loanApplicationID}" type="text" class="form-control" /> <!-- <input type="submit" class="btn btn-info btn-flat">Go!</button> -->
								<h:commandButton class="btn btn-info btn-flat" style="outline:0"
									value="Go!"
									action="#{loanDetailService.getLoanDetailsByLoanApplicationId(loanApplicationID.value)}">
									<f:ajax execute="val" render=":loanDetailService"></f:ajax>
								</h:commandButton>
							</span>
						</h:form>
					</div>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool"
							data-widget="collapse" data-toggle="tooltip" title="Collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool"
							data-widget="remove" data-toggle="tooltip" title="Remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
			</div>
      <!-- title row -->
      <h:panelGroup id="loanDetailService">
      <h:panelGroup rendered="#{not empty loanDetailService.loanDetails}" >
        <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-globe"></i> XYZ Financial Pvt Ltd, Inc.
          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
          From
          <address>
            <strong><h:outputText value="#{loanDetailService.loanDetails.customer.firstName} #{loanDetailService.loanDetails.customer.lastName}."/></strong><br></br>
            <h:outputText value="#{loanDetailService.loanDetails.customer.address.address1}"/><br></br>
            <h:outputText value="#{loanDetailService.loanDetails.customer.address.address2}, #{loanDetailService.loanDetails.customer.address.city},"/><br></br>
            <h:outputText value="#{loanDetailService.loanDetails.customer.address.state}, #{loanDetailService.loanDetails.customer.address.country}."/><br></br>
            Phone: <h:outputText value="#{loanDetailService.loanDetails.customer.phone}"/><br></br>
            Email: <h:outputText value="#{loanDetailService.loanDetails.customer.email}"/>
          </address>
        </div>
        <!-- /.col -->
         <!-- Just for page decoration  -->
        <div class="col-sm-4 invoice-col">
          To
          <address>
            <strong>XYZ Finance Pvt Ltd</strong><br></br>
            795 Folsom Ave, Suite 600<br></br>
            San Francisco, CA 94107<br></br>
            Phone: (555) 539-1037<br></br>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          <b>Invoice #<h:outputText value="#{loanDetailService.loanDetails.emiPaidCount + 1}" /></b><br></br>
          <br></br>
          <b>Payment Due:</b>
          <h:outputText value="#{loanDetailService.getPaymentDueDate()}">
          			<f:convertDateTime type="date" dateStyle="short" timeZone="#{appConfig.timeZone}"/>
          </h:outputText><br></br>
          <!-- Just for page decoration  -->
          <b>Account:</b> 968-34567
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
        <h:dataTable class="table table-striped table-hover" value="#{loanDetailService.loanDetails}" var="loanDetails">
			<h:column>
				<f:facet name="header">
					<h:outputText value="Loan Application ID" />
				</f:facet>
				<h:outputText value="#{loanDetails.loanApplication.id}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Customer ID" />
				</f:facet>
				<h:outputText
					value="#{loanDetails.customer.id}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Loan Type" />
				</f:facet>
				<h:outputText value="#{loanDetails.loanType}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Installment Number" />
				</f:facet>
				<h:outputText value="#{loanDetails.emiPaidCount + 1}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Loan Application Date" />
				</f:facet>
				<h:outputText value="#{loanDetails.loanApplicationDate}">
					<f:convertDateTime type="date" dateStyle="short" timeZone="#{appConfig.timeZone}"/>
				</h:outputText>
			</h:column>
		</h:dataTable>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
          <p class="lead">Payment Methods:</p>
          <img src="../../dist/img/credit/visa.png" alt="Visa"/>
          <img src="../../dist/img/credit/mastercard.png" alt="Mastercard"/>
          <img src="../../dist/img/credit/american-express.png" alt="American Express"/>
          <img src="../../dist/img/credit/paypal2.png" alt="Paypal"/>
		<h:form>
		<div class="box-body">
			<div class="form-group">
				<label for="name">Your name on card</label> <h:inputText
					type="text" class="form-control" id="name"  required="true"
					requiredMessage="Please enter name on your credit/debit card" placeholder="Enter your name printed on the card" />
					<h:message for="name" style="color:red" />
			</div>
			<div class="form-group">
				<label for="cardNumber">Card Number</label> <h:inputText
					type="text" class="form-control" id="cardNumber"  required="true"
					requiredMessage="Please enter your credit/debit number" placeholder="Card Number" />
					<h:message for="cardNumber" style="color:red" />
			</div>
			<div class="form-group">
				<label for="expiryDate">Expiry Date</label> <h:inputText
					type="text" class="form-control" id="expiryDate"  required="true"
					requiredMessage="Please enter credit/debit expiry date" placeholder="Expiry Date" />
				<h:message for="expiryDate" style="color:red" />
			</div>
			<div class="form-group">
				<label for="cvv">CVV</label> <h:inputText
					type="text" class="form-control" id="cvv"  required="true"
					requiredMessage="Please enter cvv on back of your card" placeholder="cvv" />
				<h:message for="cvv" style="color:red" />
			</div>
			<!-- this row will not appear when printing -->
	      <div class="row no-print">
	        <div class="col-md-12">
	          <h:commandLink type="submit" class="btn btn-success pull-right" value="Submit Payment" action="#{paymentServiceController.submitEMIPayment(loanDetailService.loanDetails)}" >
	          <i class="fa fa-credit-card"></i></h:commandLink>
				<!-- Just for purpose of decoration/future enhancement  -->
	          <h:commandLink type="submit" class="btn btn-primary pull-right" style="margin-right: 5px;" value="Generate PDF" action="#{paymentServiceController.submitEMIPayment(loanDetailService.loanDetails)}">
	            <i class="fa fa-download"></i>
	           </h:commandLink>
	        </div>
	      </div>
		</div>

      </h:form>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
          <p class="lead">Amount Due 2/22/2014</p>

          <div class="table-responsive">
            <table class="table">
               <tr>
                <th>EMI Amount:</th>
                <td><h:outputText value="#{loanDetailService.loanDetails.emiAmount}" /></td>
              </tr>
               <tr>
                <th>Late Fine:</th>
                <td><h:outputText value="#{loanDetailService.loanDetails.emiLateCharge}" /></td>
              </tr>
              <tr>
                <th>Total:</th>
                <td><h:outputText value="#{loanDetailService.loanDetails.emiAmount + loanDetailService.loanDetails.emiLateCharge}" /></td>
              </tr>
            </table>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
 		</h:panelGroup>
      </h:panelGroup>
    </section>
    <!-- /.content -->

			<!-- /section .content -->
		</div>
		<!-- /.content-wrapper -->
		<h:outputScript name="plugins/datepicker/bootstrap-datepicker.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/iCheck/icheck.min.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/input-mask/jquery.inputmask.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/input-mask/jquery.inputmask.date.extensions.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/input-mask/jquery.inputmask.extensions.js" target="body"></h:outputScript>


		<h:outputScript target="body">
		$(function () {
			$("[data-mask]").inputmask();
		    //Date picker
		    $('#datepicker').datepicker({
		      autoclose: true
		    });

		    //iCheck for checkbox and radio inputs
		    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
		      checkboxClass: 'icheckbox_minimal-blue',
		      radioClass: 'iradio_minimal-blue'
		    });
		 });
	</h:outputScript>
	</ui:define>

</ui:composition>
