<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./../../WEB-INF/templates/publicTemplate2.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	<ui:define name="title">
        Update Profile
    </ui:define>


	<ui:define name="content">

		<div class="content-wrapper">

			<h:outputStylesheet library="plugins/datepicker/" name="datepicker3.css" />
<!-- 			<h:outputStylesheet library="plugins/iCheck/minimal/" name="_all.css" /> -->
			<!-- Content Header (Page header) -->
			<section class="content-header">
			<h1>
				Update Profile <small>Please appropriate details</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#">Examples</a></li>
				<li class="active">Blank page</li>
			</ol>
			</section>

			<!-- Main content -->
			<section class="content"> <!-- Default box -->
			<div class="box">
				<ui:fragment rendered="#{loginController.banker}">
					<div class="box-header with-border">
						<label>Please enter customer ID</label>

						<div class="input-group input-group-sm col-md-3">
							<!-- <input type="text" class="form-control"/> -->

							<h:form role="form">
								<span class="input-group-btn"> <h:inputText id="val"
										binding="#{customerID}" type="text" class="form-control" /> <!-- <input type="submit" class="btn btn-info btn-flat">Go!</button> -->
									<h:commandButton class="btn btn-info btn-flat"
										style="outline:0" value="Go!"
										action="#{customerController.getCustomerById(customerID.value)}">
										<f:ajax execute="val" render=":customerForm"></f:ajax>
									</h:commandButton>
								</span>
							</h:form>
						</div>

						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse" data-toggle="tooltip" title="Collapse">
								<i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool"
								data-widget="remove" data-toggle="tooltip" title="Remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
				</ui:fragment>
				 <h:dataTable value="#{customerController.getCustomerByUsername(loginController.remoteUser)}">
				 </h:dataTable>
				<h:panelGroup id="customerForm">
						<h:panelGroup rendered="#{not empty customerController.customer}">
							<div class="box-body">
								<div class="row">
									<!-- left column -->
									<div class="col-md-6">
										<!-- general form elements -->
										<div class="box box-primary">
											<div class="box-header with-border">
												<h3 class="box-title">Quick Example</h3>
											</div>
											<!-- /.box-header -->
											<!-- form start -->
											<h:form role="form">
												<div class="box-body">
													<div class="form-group">
														<label for="firstName">First Name</label>
														<h:inputText type="text" class="form-control"
														required="true" requiredMessage="Please enter first name"
															id="firstName" placeholder="Enter first name"
															value="#{customerController.customer.firstName}" />
														<h:message for="firstName" style="color:red" />
													</div>
													<div class="form-group">
														<label for="lastName">Last Name</label>
														<h:inputText type="text" class="form-control" id="lastName"
															required="true" requiredMessage="Please enter last name"
															placeholder="Enter last name"
															value="#{customerController.customer.lastName}" />
															<h:message for="lastName" style="color:red" />
													</div>
													<div class="form-group">
														<label for="ssn">Social Security Number</label>
														<h:inputText type="text" class="form-control" id="ssn"
														required="true" requiredMessage="Please enter ssn"
															placeholder="Enter social security"
															value="#{customerController.customer.socialSecurityNumber}" />
															<h:message for="ssn" style="color:red" />
													</div>
													<!-- <div class="form-group">
		                							<label> Gender
		                  								<input type="radio" name="male" class="minimal"/>
		                							</label>
		                							<label>
		                  								<input type="radio" name="female" class="minimal"/>
		                							</label>
		              							</div> -->
													<div class="form-group">
														<label for="datepicker">Date Of Birth</label>
														<div class="input-group date">
															<div class="input-group-addon">
																<i class="fa fa-calendar"></i>
															</div>
															<h:inputText id="dateOfBirth"
																value="#{customerController.customer.dateOfBirth}"
																required="true" requiredMessage="Please enter date of birth"
																type="text" class="form-control"
																data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
																<f:convertDateTime pattern="M-d-yyyy" />
															</h:inputText>
															<h:message for="dateOfBirth" style="color:red" />
														</div>
													</div>
													<!-- phone mask -->
													<div class="form-group">
														<label>US phone mask:</label>

														<div class="input-group">
															<div class="input-group-addon">
																<i class="fa fa-phone"></i>
															</div>
															<h:inputText id="phone" type="text" class="form-control"
															required="true" requiredMessage="Please enter phone number"
																data-inputmask='"mask": "(999) 999-9999"' data-mask=""
																value="#{customerController.customer.phone}" />
																<h:message for="phone" style="color:red" />
														</div>
														<!-- /.input group -->
													</div>
													<!-- /.form group -->
													<div class="form-group">
														<label for="address1">Address 1</label>
														<h:inputText id="address1" type="text" class="form-control"
															placeholder="Enter address line 1"
															required="true" requiredMessage="Please enter address"
															value="#{customerController.customer.address.address1}" />
														<h:message for="address1" style="color:red" />
													</div>
													<div class="form-group">
														<label for="address2">Address 2</label>
														<h:inputText id="address2" type="text" class="form-control"
															placeholder="Enter address line 2"
															value="#{customerController.customer.address.address2}" />
														<h:message for="address2" style="color:red" />
													</div>
													<div class="form-group">
														<label for="city">City</label>
														<h:inputText id="city"  type="text"
														required="true" requiredMessage="Please enter city"
															class="form-control" placeholder="Enter city"
															value="#{customerController.customer.address.city}" />
														<h:message for="city" style="color:red" />
													</div>
													<div class="form-group">
														<label for="state">State</label>
														<h:inputText id="state" type="text" class="form-control"
															placeholder="Enter state"
															required="true" requiredMessage="Please enter state"
															value="#{customerController.customer.address.state}" />
														<h:message for="state" style="color:red" />
													</div>
													<div class="form-group">
														<label for="country">Country</label>
														<h:inputText id="country" type="text" class="form-control"
															placeholder="Enter country"
															required="true" requiredMessage="Please enter country"
															value="#{customerController.customer.address.country}" />
														<h:message for="country" style="color:red" />
													</div>
												</div>
												<!-- /.box-body -->

												<div class="box-footer">
													<h:commandButton class="btn btn-primary" value="Save"
														action="#{customerController.updateCustomer()}" />

												</div>
											</h:form>
										</div>
										<!-- /.box -->
									</div>
									<!-- col-md-6 -->
								</div>
							</div>
						</h:panelGroup>
				</h:panelGroup>

				<!-- /.box-body -->
				<div class="box-footer">Footer</div>
				<!-- /.box-footer-->
			</div>
			<!-- /.box --> </section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<h:outputScript name="plugins/datepicker/bootstrap-datepicker.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/iCheck/icheck.min.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/input-mask/jquery.inputmask.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/input-mask/jquery.inputmask.date.extensions.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/input-mask/jquery.inputmask.extensions.js" target="body"></h:outputScript>


		<h:outputScript target="body">
		$(function () {
			$("[data-mask]").inputmask();
		    //Date picker
		    $('#datepicker').datepicker({
		      autoclose: true
		    });

		    //iCheck for checkbox and radio inputs
		    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
		      checkboxClass: 'icheckbox_minimal-blue',
		      radioClass: 'iradio_minimal-blue'
		    });
		 });
	</h:outputScript>
	</ui:define>

</ui:composition>
