<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./../../WEB-INF/templates/publicTemplate2.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="title">
        Banker Home Page
    </ui:define>

	<ui:define name="content">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
			<h1>
				Data Tables <small>advanced tables</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#">Tables</a></li>
				<li class="active">Data tables</li>
			</ol>
			</section>

			<!-- Main content -->
			<section class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<label>Loan Application ID</label>
							<div class="input-group input-group-sm col-md-3">
								<!-- <input type="text" class="form-control"/> -->

								<h:form role="form">
									<span class="input-group-btn"> <h:inputText id="val"
											binding="#{loanApplicationID}" type="text" class="form-control" />
										<h:commandButton class="btn btn-info btn-flat"
											style="outline:0" value="Go!"
											action="#{paymentServiceController.getAllEMIPaymentsByLoanApplicationId(loanApplicationID.value)}">
											<f:ajax execute="val" render=":installmentDetails"></f:ajax>
										</h:commandButton>
									</span>
								</h:form>
							</div>

							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse" data-toggle="tooltip" title="Collapse">
									<i class="fa fa-minus"></i>
								</button>
								<button type="button" class="btn btn-box-tool"
									data-widget="remove" data-toggle="tooltip" title="Remove">
									<i class="fa fa-times"></i>
								</button>
							</div>
						</div>
						<!-- /.box-header -->
						<h:panelGroup id="installmentDetails" class="box-body">
							<h:dataTable class="table table-striped table-hover"
								value="#{paymentServiceController.emiPaymentsList}"
								var="emiDetails">
								<h:column>
									<f:facet name="header">
										<h:outputText value="Loan ID" />
									</f:facet>
									<h:outputText value="#{emiDetails.loanDetails.loanApplication.id}" />
								</h:column>
								<h:column>
									<f:facet name="header">
										<h:outputText value="Installment Number" />
									</f:facet>
									<h:outputText value="#{emiDetails.installmentNo}" />
								</h:column>
								<h:column>
									<f:facet name="header">
										<h:outputText value="EMI Amount" />
									</f:facet>
									<h:outputText
										value="#{emiDetails.emiAmount}" />
								</h:column>
								<h:column>
									<f:facet name="header">
										<h:outputText value="Late Payment Charge" />
									</f:facet>
									<h:outputText value="#{emiDetails.lateFineCharge}" />
								</h:column>
								<h:column>
									<f:facet name="header">
										<h:outputText value="Total Amount" />
									</f:facet>
									<h:outputText value="#{emiDetails.totalAmount}" />
								</h:column>
								<h:column>
									<f:facet name="header">
										<h:outputText value="Date Time" />
									</f:facet>
									<h:outputText value="#{emiDetails.emiDateTime}">
										<f:convertDateTime type="date" dateStyle="short"
												timeZone="#{appConfig.timeZone}" />
									</h:outputText>
								</h:column>
							</h:dataTable>
						</h:panelGroup>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row --> </section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<h:outputScript name="js/jquery.dataTables.min.js" target="body"></h:outputScript>
		<h:outputScript name="js/dataTables.bootstrap.min.js" target="body"></h:outputScript>

		<h:outputScript target="body">
		$(function () {
		    $("#example1").DataTable();
		    $('#example2').DataTable({
		      "paging": true,
		      "lengthChange": false,
		      "searching": false,
		      "ordering": true,
		      "info": true,
		      "autoWidth": false
			});
	  });
	</h:outputScript>
	</ui:define>

</ui:composition>
