<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./../../WEB-INF/templates/publicTemplate2.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="title">
        Banker Home Page
    </ui:define>


	<ui:define name="content">

		<div class="content-wrapper">

			<h:outputStylesheet library="plugins/datepicker/" name="datepicker3.css" />
			<h:outputStylesheet library="plugins/iCheck/minimal/" name="_all.css" />
			<!-- Content Header (Page header) -->
			<section class="content-header">
			<h1>
				Loan Details <small>it all starts here</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#">Examples</a></li>
				<li class="active">Blank page</li>
			</ol>
			</section>

			<!-- Main content -->
			<section class="content"> <!-- Default box -->
			<div class="box">
				<div class="box-header with-border">
					<label>Loan Application ID</label>
			              	<div class="input-group input-group-sm col-md-3">
			                <!-- <input type="text" class="form-control"/> -->
			                    <h:form role="form">
			                    	<span class="input-group-btn">
			                    		<h:inputText id="val" binding="#{loanApplicationID}"
			                    					type="text" class="form-control"/>

			                      		<!-- <input type="submit" class="btn btn-info btn-flat">Go!</button> -->
			                    		<h:commandButton class="btn btn-info btn-flat" style="outline:0"
											value="Go!" action="#{loanDetailService.getLoanDetailsByLoanApplicationId(loanApplicationID.value)}">
											<f:ajax execute="val" render=":loanDetails"></f:ajax>
										</h:commandButton>
			                    	</span>
			                    </h:form>
			              </div>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool"
							data-widget="collapse" data-toggle="tooltip" title="Collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool"
							data-widget="remove" data-toggle="tooltip" title="Remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
				<h:panelGroup id="loanDetails" class="box-body">
					<div class="row">
						<!-- left column -->
						<div class="col-md-6">
							<!-- general form elements -->

							<!--.box customer details-->
						<div class="box box-solid">
								<div class="box-header with-border">

									<h3 class="box-title">Loan Details</h3>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<dl class="dl-horizontal">
										<dt>Customer Id</dt>
										<dd><h:outputText value="#{loanDetailService.loanDetails.customer.id}"/></dd>
										<br />
										<dt>Loan Application Id</dt>
										<dd><h:outputText value="#{loanDetailService.loanDetails.loanApplication.id}"/></dd>
										<br />
										<dt>Loan Type</dt>
										<dd><h:outputText value="#{loanDetailService.loanDetails.loanType}"/></dd>
										<br />
										<dt>Application Date</dt>
										<dd><h:outputText value="#{loanDetailService.loanDetails.loanApplicationDate}"/></dd>
										<br />
										<dt>Loan Amount</dt>
										<dd><h:outputText value="#{loanDetailService.loanDetails.loanAmount}"/></dd>
										<br />
										<dt>Loan Tenure</dt>
										<dd><h:outputText value="#{loanDetailService.loanDetails.loanTenure}"/></dd>
										<br />
										<dt>Interest Rate</dt>
										<dd><h:outputText value="#{loanDetailService.loanDetails.interestRate}"/></dd>
										<br />
									</dl>
								</div>
								<!-- /.box-body -->
							</div>

							<!-- .box co-borrower start -->
							<div class="box box-solid">
								<div class="box-header with-border">

									<h3 class="box-title">Co-Borrower Details</h3>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<dl class="dl-horizontal">
										<ui:repeat var="coborrower" value="#{loanDetailService.loanDetails.coborrowers}" varStatus="coborrowerStatus">
											<dt>Co-Borrower No:</dt>
											<dd><h:outputText value="#{coborrowerStatus.index}"/></dd>
											<br />
											<dt>Coborrower First Name:</dt>
											<dd><h:outputText value="#{coborrower.firstName}"/></dd>
											<br />
											<dt>Coborrower Last Name:</dt>
											<dd><h:outputText value="#{coborrower.lastName}"/></dd>
											<br />
											<dt>Employment Type:</dt>
											<dd><h:outputText value="#{coborrower.employmentType}"/></dd>
											<br />
											<dt>Monthly Income:</dt>
											<dd><h:outputText value="#{coborrower.netMonthlyIncome}"/></dd>
											<br />
											<dt>Relationship:</dt>
											<dd><h:outputText value="#{coborrower.relationship}"/></dd>
   										</ui:repeat>
									</dl>
								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box co-borrower-->

						<!-- .box collateral -->
						<div class="box box-solid">
								<div class="box-header with-border">

									<h3 class="box-title">Collateral Details</h3>
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<dl class="dl-horizontal">
										<dt>Collateral Type</dt>
										<dd><h:outputText value="#{loanDetailService.loanDetails.collateral.collateralType}"/></dd>
										<br />
										<dt>Collateral Market Value</dt>
										<dd><h:outputText value="#{loanDetailService.loanDetails.collateral.marketValue}"/></dd>
										<br />
									</dl>
								</div>
								<!-- /.box-body -->
							</div>
						<!-- /.box collateral -->
						</div>
						<!-- col-md-6 -->
					</div>
					<!-- /.row -->
				</h:panelGroup>
				<!-- /.box-body -->
				<div class="box-footer">
					<span class="col-md-6">
					</span>
				</div>
				<!-- /.box-footer-->
			</div>
			<!-- /.box --> </section>
			<!-- /.content -->
		</div>
	</ui:define>

</ui:composition>
