<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./../../WEB-INF/templates/publicTemplate2.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="title">
        Banker Home Page
    </ui:define>


	<ui:define name="content">

		<div class="content-wrapper">

			<h:outputStylesheet library="plugins/datepicker/"
				name="datepicker3.css" />
			<h:outputStylesheet library="plugins/iCheck/minimal/" name="_all.css" />
			<!-- Content Header (Page header) -->
			<section class="content-header">
			<h1>
				Blank page <small>it all starts here</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#">Examples</a></li>
				<li class="active">Blank page</li>
			</ol>
			</section>

			<!-- Main content -->
			<section class="content"> <!-- Default box -->
			<div class="box">
				<div class="box-header with-border">
					<label>Customer ID</label>
					<div class="input-group input-group-sm col-md-3">
						<!-- <input type="text" class="form-control"/> -->

						<h:form role="form">
							<span class="input-group-btn"> <h:inputText id="val"
									binding="#{customerID}" type="text" class="form-control" /> <!-- <input type="submit" class="btn btn-info btn-flat">Go!</button> -->
								<h:commandButton class="btn btn-info btn-flat" style="outline:0"
									value="Go!"
									action="#{loanApplicationController.getLoanApplicationByCustomerId(customerID.value)}">
									<f:ajax execute="val" render=":loanApplicationDetails"></f:ajax>
								</h:commandButton>
							</span>
						</h:form>
					</div>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool"
							data-widget="collapse" data-toggle="tooltip" title="Collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool"
							data-widget="remove" data-toggle="tooltip" title="Remove">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
			</div>

			<!-- All Loan Applications Of Customer --> <h:panelGroup
				id="loanApplicationDetails" class="box-body">
				<ui:repeat var="loanApplication"
					value="#{loanApplicationController.loanApplicationList}"
					varStatus="appStatus">
					<h:form>
						<div class="box">
							<div class="box-tools pull-right">
								<button type="button" class="btn btn-box-tool"
									data-widget="collapse" data-toggle="tooltip" title="Collapse">
									<i class="fa fa-minus"></i>
								</button>
								<button type="button" class="btn btn-box-tool"
									data-widget="remove" data-toggle="tooltip" title="Remove">
									<i class="fa fa-times"></i>
								</button>
							</div>

							<div class="row">
								<!-- left column -->
								<div class="col-md-6">
									<!-- general form elements -->

									<!--.box loan application details-->
									<div class="box box-solid">
										<div class="box-header with-border">
											<h3 class="box-title">Loan Application Details</h3>
										</div>
										<!-- /.box-header -->
										<div class="box-body">
											<dl class="dl-horizontal">
												<dt>Loan Application ID:</dt>
												<dd>
													<h:outputText value="#{loanApplication.id}" />
												</dd>
												<br />
												<dt>Loan Type:</dt>
												<dd>
													<h:outputText value="#{loanApplication.loanType}" />
												</dd>
												<br />
												<dt>Loan Amount:</dt>
												<dd>
													<h:outputText value="#{loanApplication.loanAmount}" />
												</dd>
												<br />
												<dt>Monthly Income:</dt>
												<dd>
													<h:outputText value="#{loanApplication.monthlyIncome}" />
												</dd>
												<br />
												<dt>Email:</dt>
												<dd>
													<h:outputText value="#{loanApplication.email}" />
												</dd>
												<br />
												<dt>Phone:</dt>
												<dd>
													<h:outputText value="#{loanApplication.phone}" />
												</dd>
												<br />
											</dl>
										</div>
										<!-- /.box-body -->
									</div>
									<!-- /.box loan application details-->

									<!--.box customer details-->
									<div class="box box-solid">
										<div class="box-header with-border">
											<h3 class="box-title">Customer Details</h3>
										</div>
										<!-- /.box-header -->
										<div class="box-body">
											<dl class="dl-horizontal">
												<dt>Customer First Name:</dt>
												<dd>
													<h:outputText value="#{loanApplication.customer.firstName}" />
												</dd>
												<br />
												<dt>Customer Last Name:</dt>
												<dd>
													<h:outputText value="#{loanApplication.customer.lastName}" />
												</dd>
												<br />
												<dt>Social Security Number:</dt>
												<dd>
													<h:outputText
														value="#{loanApplication.customer.socialSecurityNumber}" />
												</dd>
												<br />
												<dt>Contact Number:</dt>
												<dd>
													<h:outputText value="#{loanApplication.customer.phone}" />
												</dd>
												<br />
												<dt>Email:</dt>
												<dd>
													<h:outputText value="#{loanApplication.customer.email}" />
												</dd>
											</dl>
										</div>
										<!-- /.box-body -->
									</div>
									<!-- /.box customer details-->

									<!-- .box address-->
									<div class="box box-solid">
										<div class="box-header with-border">

											<h3 class="box-title">Address Details</h3>
										</div>
										<!-- /.box-header -->
										<div class="box-body">
											<dl class="dl-horizontal">
												<dt>Address1:</dt>
												<dd>
													<h:outputText
														value="#{loanApplication.customer.address.address1}" />
												</dd>
												<br />
												<dt>Address2:</dt>
												<dd>
													<h:outputText
														value="#{loanApplication.customer.address.address2}" />
												</dd>
												<br />
												<dt>City:</dt>
												<dd>
													<h:outputText
														value="#{loanApplication.customer.address.city}" />
												</dd>
												<br />
												<dt>State:</dt>
												<dd>
													<h:outputText
														value="#{loanApplication.customer.address.state}" />
												</dd>
												<br />
												<dt>Country:</dt>
												<dd>
													<h:outputText
														value="#{loanApplication.customer.address.country}" />
												</dd>
											</dl>
										</div>
										<!-- /.box-body -->
									</div>
									<!-- /.box address-->

									<!-- .box co-borrower start -->
									<div class="box box-solid">
										<div class="box-header with-border">

											<h3 class="box-title">Co-Borrower Details</h3>
										</div>
										<!-- /.box-header -->
										<div class="box-body">
											<dl class="dl-horizontal">

												<ui:repeat var="coborrower"
													value="#{loanApplication.coborrower}"
													varStatus="coborrowerStatus">
													<dt>Co-Borrower No:</dt>
													<dd>
														<h:outputText value="#{coborrowerStatus.index}" />
													</dd>
													<br />
													<dt>Coborrower First Name:</dt>
													<dd>
														<h:outputText value="#{coborrower.firstName}" />
													</dd>
													<br />
													<dt>Coborrower Last Name:</dt>
													<dd>
														<h:outputText value="#{coborrower.lastName}" />
													</dd>
													<br />
													<dt>Employment Type:</dt>
													<dd>
														<h:outputText value="#{coborrower.employmentType}" />
													</dd>
													<br />
													<dt>Monthly Income:</dt>
													<dd>
														<h:outputText value="#{coborrower.netMonthlyIncome}" />
													</dd>
													<br />
													<dt>Relationship:</dt>
													<dd>
														<h:outputText value="#{coborrower.netMonthlyIncome}" />
													</dd>
												</ui:repeat>
											</dl>
										</div>
										<!-- /.box-body -->
									</div>
									<!-- /.box co-borrower-->


									<!-- .box collateral -->
									<div class="box box-solid">
										<div class="box-header with-border">

											<h3 class="box-title">Collateral Details</h3>
										</div>
										<!-- /.box-header -->
										<div class="box-body">
											<dl class="dl-horizontal">
												<dt>Collateral Type</dt>
												<dd>
													<h:outputText
														value="#{loanApplication.collateral.collateralType}" />
												</dd>
												<br />
												<dt>Collateral Market Value</dt>
												<dd>
													<h:outputText
														value="#{loanApplication.collateral.marketValue}" />
												</dd>
												<br />
											</dl>
										</div>
										<!-- /.box-body -->
									</div>
									<!-- /.box collateral -->
								</div>
								<!-- col-md-6 -->
							</div>
							<!-- /.row -->

							<!-- /.box-body -->
							<div class="box-footer">
								<span class="col-md-6">
									<h:commandButton
										immediate="true"
										class="btn btn-danger" style="width:80px;" value="Reject"
										action="#{loanApplicationController.rejectLoanApplication()}">
										<f:setPropertyActionListener target="#{loanApplicationController.loanApplication}" value="#{loanApplication}"/>
									</h:commandButton>
									<h:commandButton class="btn btn-success pull-right"
										style="width:80px;" value="Approve"
										action="#{loanApplicationController.approveLoanApplication()}">
										<f:setPropertyActionListener target="#{loanApplicationController.loanApplication}" value="#{loanApplication}"/>
									</h:commandButton>
								</span>
							</div>
							<!-- /.box-footer-->
						</div>
					</h:form>
				</ui:repeat>
			</h:panelGroup> <!-- /.box --> </section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<h:outputScript name="plugins/datepicker/bootstrap-datepicker.js"
			target="body"></h:outputScript>
		<h:outputScript name="plugins/iCheck/icheck.min.js" target="body"></h:outputScript>
		<h:outputScript name="plugins/input-mask/jquery.inputmask.js"
			target="body"></h:outputScript>
		<h:outputScript
			name="plugins/input-mask/jquery.inputmask.date.extensions.js"
			target="body"></h:outputScript>
		<h:outputScript
			name="plugins/input-mask/jquery.inputmask.extensions.js"
			target="body"></h:outputScript>


		<h:outputScript target="body">
		$(function () {
			$("[data-mask]").inputmask();
		    //Date picker
		    $('#datepicker').datepicker({
		      autoclose: true
		    });

		    //iCheck for checkbox and radio inputs
		    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
		      checkboxClass: 'icheckbox_minimal-blue',
		      radioClass: 'iradio_minimal-blue'
		    });
		 });
	</h:outputScript>
	</ui:define>

</ui:composition>
