<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./../../WEB-INF/templates/publicTemplate2.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="title">
        Cancelled Loan Applications
    </ui:define>

	<ui:define name="content">
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Data Tables
        <small>advanced tables</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Cancelled Loan Applications</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <h:dataTable class="table table-striped table-hover"
			value="#{loanApplicationService.getAllCancelledLoanApplication()}"
			var="loanApplication">
			<h:column>
				<f:facet name="header">
					<h:outputText value="Loan ID" />
				</f:facet>
				<h:outputText value="#{loanApplication.id}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Customer Name" />
				</f:facet>
				<h:outputText
					value="#{loanApplication.customer.firstName} #{loanApplication.customer.lastName}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Email" />
				</f:facet>
				<h:outputText value="#{loanApplication.customer.email}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Phone" />
				</f:facet>
				<h:outputText value="#{loanApplication.customer.phone}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Loan Amount" />
				</f:facet>
				<h:outputText value="#{loanApplication.loanAmount}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Loan Application Date" />
				</f:facet>
				<h:outputText value="#{loanApplication.loanApplicationDate}">
					<f:convertDateTime type="date" dateStyle="short" timeZone="#{appConfig.timeZone}"/>
				</h:outputText>
			</h:column>
		</h:dataTable>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

	<h:outputScript name="js/jquery.dataTables.min.js" target="body"></h:outputScript>
	<h:outputScript name="js/dataTables.bootstrap.min.js" target="body"></h:outputScript>

	<h:outputScript target="body">
		$(function () {
		    $("#example1").DataTable();
		    $('#example2').DataTable({
		      "paging": true,
		      "lengthChange": false,
		      "searching": false,
		      "ordering": true,
		      "info": true,
		      "autoWidth": false
			});
	  });
	</h:outputScript>
	</ui:define>

</ui:composition>
