<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./../../WEB-INF/templates/publicTemplate2.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="title">
        Banker Home Page
    </ui:define>

	<ui:define name="content">
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Data Tables
        <small>advanced tables</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">All Users</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <h:dataTable id="example1" class="table table-striped table-hover"
			value="#{customerController.getAllCustomers()}"
			var="customer">
					<h:column>
						<f:facet name="header">
							<h:outputText value="Customer ID" />
						</f:facet>
						<h:outputText value="#{customer.id}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="Customer Name" />
						</f:facet>
						<h:outputText
							value="#{customer.firstName} #{customer.lastName}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="SSN" />
						</f:facet>
						<h:outputText value="#{customer.socialSecurityNumber}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="Email" />
						</f:facet>
						<h:outputText value="#{customer.email}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="Date Of Birth" />
						</f:facet>
						<h:outputText value="#{customer.dateOfBirth}">
							<f:convertDateTime type="date" dateStyle="short" timeZone="#{appConfig.timeZone}"/>
						</h:outputText>
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="City" />
						</f:facet>
						<h:outputText value="#{customer.address.city}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="State" />
						</f:facet>
						<h:outputText value="#{customer.address.state}" />
					</h:column>
					<h:column>
						<f:facet name="header">
							<h:outputText value="Country" />
						</f:facet>
						<h:outputText value="#{customer.address.country}" />
					</h:column>
			</h:dataTable>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

	<h:outputScript name="js/jquery.dataTables.min.js" target="body"></h:outputScript>
	<h:outputScript name="js/dataTables.bootstrap.min.js" target="body"></h:outputScript>

	<h:outputScript target="body">
		$(function () {
		    $("#example1").DataTable();
		    $('#example2').DataTable({
		      "paging": true,
		      "lengthChange": false,
		      "searching": false,
		      "ordering": true,
		      "info": true,
		      "autoWidth": false
			});
	  });
	</h:outputScript>
	</ui:define>
</ui:composition>
