<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./WEB-INF/templates/publicTemplate.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

	<ui:define name="title">
        Welcome
    </ui:define>

	<ui:define name="content">
		<h:outputStylesheet library="bootstrap/css/" name="small-business.css" />

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> <img
					src="#{request.contextPath}/img/logo.png" alt="Loan Application" />
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav" style="font-size: 20px;">
					<li><a href="about.xhtml">About</a></li>
					<li><a href="services.xhtml">Services</a></li>
					<li><a href="contact.xhtml">Contact</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>

		</nav>
		<!-- /.container -->

		<!-- Page Content -->
		<div class="container">

			<!-- Heading Row -->
			<div class="row">
				<div class="col-md-8">
					<img class="img-responsive img-rounded"
						src="#{request.contextPath}/img/welcome.jpeg" alt="" />
				</div>
				<!-- /.col-md-8 -->
				<div class="col-md-4">
					<h1>We value your needs</h1>
					<p>Customer service is our first priority. As a our customer,
						you can access your account online, see current rates and learn
						more about the products we have to offer. We help families to
						lower monthly mortgage payments and/or to avoid foreclosure and
						remain in their homes.</p>

					<a class="btn btn-primary btn-lg active"
						href="#{request.contextPath}/security/login.xhtml">Login</a>
				</div>
				<!-- /.col-md-4 -->
			</div>
			<!-- /.row -->

			<hr />

			<!-- Call to Action Well -->
			<div class="row">
				<div class="col-lg-12">
					<div class="well text-center">Quick loan approvals are just a
						call away. Get your loan approved now! Call (312)975-9514</div>
				</div>
				<!-- /.col-lg-12 -->
			</div>

			<div class="row">
				<div class="col-md-4">
					<h2>Home Loan</h2>
					<p>A new home is a celebration of a lifetime and a home loan is
						perhaps one of the best ways to achieve this milestone. Loans are
						quick and easy and are available at an attractive interest rate.
						The key features of our home loan include easy documentation, door
						step assistance and flexible repayment options, making it easier
						for you to bring alive your aspiration of owing your own home.</p>
					<a class="btn btn-default" href="/homeloan.xhtml">More Info</a>
				</div>
				<!-- /.col-md-4 -->
				<div class="col-md-4">
					<h2>Education Loan</h2>
					<p>A meritorious student is never far away from their dream
						career. Students from every discipline can now take their first
						steps on the path to success. Every feature of our student loan
						assists the process of higher education in a comfortable manner.
						Tax benefits, post-graduation EMI schedule and a flexible tenure
						make higher education both affordable and convenient as never
						before.</p>
					<a class="btn btn-default" href="educationloan.xhtml">More Info</a>
				</div>
				<!-- /.col-md-4 -->
				<div class="col-md-4">
					<h2>Car Loan</h2>
					<p>We offers a wide range of car loans that can be tailored to
						your needs. This comprehensive product offering and a robust
						disbursal process make us the front runner for car loans. Enjoy
						three-fold benefits when you avail a new car loan from us.</p>
					<a class="btn btn-default" href="carloan.xhtml">More Info</a>
				</div>
				<!-- /.col-md-4 -->
			</div>

			<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright&#169;hdeolekar@hawk.iit.edu</p>
				</div>
			</div>
			</footer>
		</div>
		<!-- /.container -->
	</ui:define>
</ui:composition>
