<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>AdminLTE 2 | Fixed Layout</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		name="viewport" />

	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

	<!-- Font Awesome -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />

	<!-- Ionicons -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />

	<!-- Theme style -->
	<link rel="stylesheet" href="../../dist/css/AdminLTE.min.css" />


	<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
	<link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css" />


	<title><ui:insert name="title">Default Title</ui:insert></title>

</h:head>
<h:body class="hold-transition skin-blue fixed sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<header class="main-header"> <!-- Logo --> <a href="#"
			class="logo"> <!-- mini logo for sidebar mini 50x50 pixels --> <span
			class="logo-mini"><b>A</b>LT</span> <!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><b>XYZ</b>Financial Pvt Ltd</span>
		</a> <!-- Header Navbar: style can be found in header.less --> <nav
			class="navbar navbar-static-top"> <!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
			role="button"> </a>

		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<!-- Messages: style can be found in dropdown.less-->
				<li class="dropdown messages-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown">Java Docs
				</a>
					<ul class="dropdown-menu">
						<li class="footer">
							<a href="../../doc/index.html" >Final Project Documentation</a>
							</li>
					</ul></li>

				<!-- User Account: style can be found in dropdown.less -->
				<li class="dropdown user user-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <img
						src="../../dist/img/user2-160x160.jpg" class="user-image"
						alt="User Image" /> <span class="hidden-xs">#{loginController.remoteUser}</span>
				</a>
					<ul class="dropdown-menu">
						<!-- User image -->
						<li class="user-header"><img
							src="../../dist/img/user2-160x160.jpg" class="img-circle"
							alt="User Image" />

							<p>
								#{loginController.remoteUser} - Web Developer <small>Member since
									Nov. 2012</small>
							</p></li>
						<!-- Menu Body -->
						<li class="user-body">
							<div class="row">
								<div class="col-xs-4 text-center">
									<a href="#">Applications</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Payments</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">History</a>
								</div>
							</div> <!-- /.row -->
						</li>
						<!-- Menu Footer-->
						<li class="user-footer">
							<div class="pull-left">
								<a href="#" class="btn btn-default btn-flat">Profile</a>
							</div>
							<div class="pull-right">
								<!-- <a href="#" class="btn btn-default btn-flat">Sign out</a> -->
								<h:form>
									<h:commandLink class="btn btn-default btn-flat"
										action="#{loginController.doLogout()}" value="Sign Out" />
								</h:form>
							</div>
						</li>
					</ul></li>
			</ul>
		</div>
		</nav> </header>

		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<aside class="main-sidebar"> <!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar"> <!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="../../dist/img/user2-160x160.jpg" class="img-circle"
					alt="User Image" />
			</div>
			<div class="pull-left info">
				<p>#{loginController.remoteUser}</p>
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		<!-- search form -->
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control"
					placeholder="Search..." /> <span class="input-group-btn">
					<button type="submit" name="search" id="search-btn"
						class="btn btn-flat">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</form>
		<!-- /.search form --> <!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<li class="header">MAIN NAVIGATION</li>

			<li class="treeview"><a href="#"> <i
					class="fa fa-files-o"></i> <span>Manage Profile</span> <span
					class="pull-right-container">
				</span>
			</a>
				<ul class="treeview-menu">
					<ui:fragment rendered="#{loginController.banker or loginController.admin}">
						<li><a href="../../banker/layout/viewProfile.xhtml"><i
								class="fa fa-circle-o"></i> View</a></li>
					</ui:fragment>
					<ui:fragment rendered="#{loginController.customer}">
						<li><a href="../../default/layout/updateProfile.xhtml"><i
								class="fa fa-circle-o"></i> Update</a></li>
					</ui:fragment>
					<ui:fragment rendered="#{loginController.banker or loginController.admin}">
						<li><a href="../../default/layout/deleteProfile.xhtml"><i
								class="fa fa-circle-o"></i> Delete</a></li>
					</ui:fragment>
				</ul></li>
			<li class="treeview"><a href="#"> <i class="fa fa-pie-chart"></i>
					<span>Loan Applications</span> <span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<ui:fragment rendered="#{loginController.banker or loginController.admin}">
						<li><a href="../../banker/layout/manageLoanApplication.xhtml"><i
								class="fa fa-circle-o"></i> Manage Application</a></li>
					</ui:fragment>
					<li><a href="../../default/layout/createLoanApplication.xhtml"><i
							class="fa fa-circle-o"></i> Create Application</a></li>
					<li><a href="../../default/layout/updateLoanApplication.xhtml"><i
							class="fa fa-circle-o"></i> Update Application</a></li>
					<li><a href="../../default/layout/cancelLoanApplication.xhtml"><i
							class="fa fa-circle-o"></i> Cancel Application</a></li>
					<ui:fragment rendered="#{loginController.admin}">
						<li><a href="../../default/layout/deleteLoanApplication.xhtml"><i
							class="fa fa-circle-o"></i> Delete Application</a></li>
					</ui:fragment>

					<ui:fragment rendered="#{loginController.banker or loginController.admin}">
						<li><a
							href="../../banker/layout/viewApprovedLoanApplication.xhtml"><i
								class="fa fa-circle-o"></i> Approved</a></li>
						<li><a
							href="../../banker/layout/viewPendingLoanApplication.xhtml"><i
								class="fa fa-circle-o"></i> Pending</a></li>
						<li><a
							href="../../banker/layout/viewRejectedLoanApplication.xhtml"><i
								class="fa fa-circle-o"></i> Rejected</a></li>
						<li><a
							href="../../banker/layout/viewCancelledLoanApplication.xhtml"><i
								class="fa fa-circle-o"></i> Cancelled </a></li>
						<li><a
							href="../../banker/layout/viewApprovedLoanApplicationByLoanPolicy.xhtml"><i
								class="fa fa-circle-o"></i> Check By Loan Policy </a></li>
					</ui:fragment>
					<ui:fragment rendered="#{loginController.customer}">
						<li><a href="../../customer/layout/viewLoanApplicationStatus.xhtml"><i
								class="fa fa-circle-o"></i>Application Status</a></li>
					</ui:fragment>
					<ui:fragment rendered="#{loginController.admin or loginController.banker}">
						<li><a href="../../banker/layout/viewAllLoanApplicationStatus.xhtml"><i
								class="fa fa-circle-o"></i>Application Status</a></li>
					</ui:fragment>
				</ul></li>
			<li class="treeview"><a href="#"> <i class="fa fa-laptop"></i>
					<span>Loan Application Details</span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li><a href="../../default/layout/viewLoanDetails.xhtml"><i
							class="fa fa-circle-o"></i> View Loan Details</a></li>
				</ul></li>
			<ui:fragment rendered="#{loginController.customer}">
				<li class="treeview"><a href="#"> <i class="fa fa-edit"></i>
					<span>Payments</span> <span class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li><a href="../../default/layout/payment.xhtml"><i
							class="fa fa-circle-o"></i> Online Payment</a></li>
				</ul>
			</li>
			</ui:fragment>

			<li class="treeview"><a href="#"> <i class="fa fa-table"></i>
					<span>EMI</span> <span class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li><a href="../../default/layout/viewInstallmentDetails.xhtml"><i
								class="fa fa-circle-o"></i> Installment Details</a></li>
				</ul>
			</li>
		</ul>
		</section> <!-- /.sidebar --> </aside>

		<!-- =============================================== -->
		<!-- Content Wrapper. Contains page content -->
		<!-- 	<h:panelGroup
			rendered="#{not facesContext.validationFailed and not empty facesContext.messageList}"
			layout="block" class="alert alert-warning alert-dismissible">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h:messages showDetail="false" showSummary="true" globalOnly="true" />
		</h:panelGroup> -->

		<ui:insert name="content">Default Content</ui:insert>
		<!-- /.content-wrapper -->

		<!-- =============================================== -->

		<footer class="main-footer">
		<div class="pull-right hidden-xs">
			<b>Version</b> 2.3.8
		</div>
		<strong>Copyright &copy; 2015-2018 <a href="web.iit.edu/">Illinois
				Institute Of Technology</a>.
		</strong> All rights reserved. </footer>
	</div>
	<!-- ./wrapper -->

	<!-- jQuery 2.2.3 -->
	<script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
	<!-- Bootstrap 3.3.6 -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- SlimScroll -->
	<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="../../plugins/fastclick/fastclick.js"></script>
	<!-- AdminLTE App -->
	<script src="../../dist/js/app.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="../../dist/js/demo.js"></script>

</h:body>
</html>

