<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./../WEB-INF/templates/authnTemplate.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="title">
        Banker Home Page
    </ui:define>

	<ui:define name="content">
        Welcome #{loginController.remoteUser},
        <h2>Loan Application Details</h2>
		<!-- Banker is the one who can access the data of all the customers.
		They are not associated to any particular customer. Any given point of time, a banker
		should be able to look at an application belonging to any customer-->
		<h:dataTable class="table table-striped table-hover"
			value="#{loanApplicationService.getAllLoanApplication()}"
			var="loanApplication">
			<h:column>
				<f:facet name="header">
					<h:outputText value="ID" />
				</f:facet>
				<h:outputText value="#{loanApplication.id}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Customer Name" />
				</f:facet>
				<h:outputText
					value="#{loanApplication.customer.firstName} #{loanApplication.customer.lastName}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Email" />
				</f:facet>
				<h:outputText value="#{loanApplication.customer.email}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Loan Amount" />
				</f:facet>
				<h:outputText value="#{loanApplication.loanAmount}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Loan Application Date" />
				</f:facet>
				<h:outputText value="#{loanApplication.loanApplicationDate}">
					<f:convertDateTime type="date" dateStyle="short" timeZone="#{appConfig.timeZone}"/>
				</h:outputText>
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Loan Collateral" />
				</f:facet>
				<h:outputText value="#{loanApplication.collateral.collateralType}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Market Value" />
				</f:facet>
				<h:outputText value="#{loanApplication.collateral.marketValue}"/>
			</h:column>
		</h:dataTable>
	</ui:define>

</ui:composition>
