<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/templates/authnTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="title">
        Customer Home Page - Customer Details
	</ui:define>

	<ui:define name="content">
        Welcome #{loginController.remoteUser},<br/>Your loan details are as follows:
        <h:dataTable class="table table-striped table-hover" value="#{customerService.getCustomerByUsername(loginController.remoteUser)}" var="customer">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="ID"/>
                </f:facet>
                <h:outputText value="#{customer.id}"/>
            </h:column>
        	   <h:column>
                <f:facet name="header">
                    <h:outputText value="Name"/>
                </f:facet>
                <h:outputText value="#{customer.firstName} #{customer.lastName}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Username"/>
                </f:facet>
                <h:outputText value="#{customer.user.userName}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Date Of Birth"/>
                </f:facet>
                <h:outputText value="#{customer.dateOfBirth}">
                	<f:convertDateTime type="date" dateStyle="short" timeZone="#{appConfig.timeZone}"/>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Country"/>
                </f:facet>
                <h:outputText value="#{customer.address.city}, #{customer.address.country}"/>
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Loan Applied"/>
                </f:facet>
                 <ui:repeat value="#{customer.loanApplication}" var="loanApp">
	                <h:outputText value="#{loanApp.loanType}"/>
                 </ui:repeat>
            </h:column>
        </h:dataTable>
    </ui:define>

</ui:composition>
